.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }  

*
{
    background-color: #d77bba;
}

h1
{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
}

.glueImg
{
    display: block;
    margin: auto;
    margin-top: 250px;
}

.navBar
{
    overflow: hidden;
    text-align: center;
}

.navBar a
{
    float: left;
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.navBar a:hover
{
    color: gray;
}

.active
{
    color: yellow;
}

.privNote
{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
}